<form [formGroup]="editForm" autocomplete="off" *ngIf="null !== editForm">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Tour de Planet.</h2>
        <h2 class="mt-0">Edit Tour Profile!</h2>
        <label class="mt-2">Why do you join Tour de Planet?</label>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="isBuildOwnTour" />
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                Build or organize an own tour
            </div>
        </div>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="isJoinOtherTour" />
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                Participate and join an other tour
            </div>
        </div>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="isPress"/>
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                Press
            </div>
        </div>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="isOrga" />
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                support the local organisers.
            </div>
        </div>
        <label class="mt-3">How much you would like to invest?</label>
        <div class="tdp-form-row mt-1">
            <div class="tdp-form-box half">
                <label for="distanceToParticipate">Distance to participate (per Day) </label>
                <input matInput type="number" formControlName="distanceToParticipate" />
            </div>
            <div class="tdp-form-box half">
                <label for="daysToParticipate" class="form-label">Days to paricipate</label>
                <input matInput type="number" formControlName="daysToParticipate" />
            </div>
        </div>
        <label>Basic setup:</label>
        <div class="tdp-form-row mt-1">
            <div class="tdp-form-box half">
                <label for="meanOfTransportation">How you would like to join? By ..?</label>
                <select formControlName="meanOfTransportation">
          <option value="0">Select an Mean of Transportation ...</option>
          <option *ngFor="let item of (meansOfTransportation$ | async)" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
            </div>
            <div class="tdp-form-box half">
                <label for="unit">What is your base unit for distances?</label>
                <select formControlName="unit">
          <option value="km">Kilometer</option>
          <option value="m">Miles</option>
        </select>
            </div>
        </div>
        <div class="tdp-form-box mt-1">
            <label for="point">Home Base</label>
            <input matInput type="search" (keyup)="onKeyUpname($event)" />
            <div class="hint error" *ngIf="editForm.get('home').value && editForm.get('home').value.name">
                Name: {{ editForm.get('home').value.name }} ({{ editForm.get('home').value.latitude }}, {{ editForm.get('home').value.longitude }})
            </div>
            <ul class="autocomplete-items">
                <li *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)" color="primary">
                    <span>{{ item.display_name}}</span>
                </li>
            </ul>
        </div>

        <div class="tdp-form-row mt-2">
            <button type="submit" (click)="onSubmit()" class="tdp-button tdp-button-menu full">Submit</button>
        </div>
    </div>
</form>