<form [formGroup]="editForm" *ngIf="null !== editForm">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Tour de Planet.</h2>
        <h2 class="mt-0">Edit User Profile!</h2>
        <input type="hidden" name="username" id="username" autocomplete="username">
        <div class="tdp-form-box mt-2">
            <label for="username">Username</label>
            <input type="text" formControlName="username" />
            <div class="hint error">You should enter a username</div>
        </div>
        <div class="tdp-form-row mt-1">
            <div class="tdp-form-box half">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" />
            </div>
            <div class="tdp-form-box half">
                <label for="secondName">Second Name</label>
                <input type="text" formControlName="secondName" />
            </div>
        </div>

        <div class="tdp-form-box mt-1">
            <label for="mail">Email Address</label>
            <input type="email" formControlName="mail" />
            <div class="hint error" *ngIf="mailControlInvalid" class="text-danger">Enter a valid Email</div>
        </div>

        <div class="tdp-form-row mt-1">
            <div class="tdp-form-box half">
                <label for="organisation">Organisation</label>
                <select formControlName="organisation">
          <option value="0">Select an organisation ...</option>
          <option *ngFor="let organisation of (organisations$ | async)" [value]="organisation.id">
            {{ organisation.name }}
          </option>
        </select>
            </div>
            <div class="tdp-form-box half">
                <label for="country">Country</label>
                <select formControlName="country">
          <option value="0">Select a country ...</option>
          <option *ngFor="let country of (countries$ | async)" [value]="country.id">
            {{ country.name }}
          </option>
        </select>
            </div>
        </div>

        <div class="tdp-form-row mt-2">
            <button type="submit" [disabled]="invalid" (click)="onSubmit()" class="tdp-button tdp-button-menu full">Submit</button>
        </div>
    </div>
</form>