<form [formGroup]="tourForm" *ngIf="tourForm">
    <div class="tdp-form-container">
        <input type="hidden" formControlName="id" />
        <div class="tdp-form-row">
            <div class="tdp-form-box">
                <label>Name of tour</label>
                <input type="text" formControlName="title" />
            </div>
            <div class="tdp-form-box">
                <label>Organizer Type</label>
                <select formControlName="type">
                  <option>Select a type</option>
                  <option *ngFor="let t of types" value="{{ t }}">{{ t }}</option>
              </select>
            </div>
        </div>
        <app-organizer-form [organizerForm]="organizer.value" *ngIf="organizer"></app-organizer-form>
        <app-tour-point-form [tourPointForm]="start.value" *ngIf="start" [name]="'Tour start'" (addPoint)="onAddPoint($event)"></app-tour-point-form>
        <app-tour-point-form [tourPointForm]="end.value" *ngIf="end" [name]="'Tour end'" (addPoint)="onAddPoint($event)"></app-tour-point-form>


        <span (click)="addSegment()">New Segment</span>
        <h3>Segments of tour</h3>
        <ul>
            <li *ngFor="let segmentControl of tourSegments?.controls, let i = index">
                <app-tour-segment-form [tourSegmentForm]="segmentControl" (addPoint)="onAddPoint($event)"></app-tour-segment-form>
            </li>
        </ul>
    </div>
</form>