<form [formGroup]="editForm" (submit)="onSubmit()" *ngIf="null !== editForm">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Tour de Planet.</h2>
        <h2 class="mt-0">Change Password!</h2>
        <input type="hidden" name="username" id="username" autocomplete="username">
        <div class="tdp-form-box mt-2">
            <label for="oldPlainPassword">Old Password</label>
            <input type="oldPlainPassword" formControlName="oldPlainPassword" autocomplete="current-password" [class.error]="editForm.get('oldPlainPassword').touched && editForm.get('oldPlainPassword').invalid" [class.valid]="editForm.get('oldPlainPassword').touched && editForm.get('oldPlainPassword').valid"
            />
            <div class="hint is-red" *ngIf="editForm.get('oldPlainPassword').touched && editForm.get('oldPlainPassword').invalid">
                Enter your olde password.
            </div>
        </div>
        <div class="mt-2 tdp-form-row">
            <div class="tdp-form-box">
                <label for="password">Password</label>
                <input type="password" formControlName="password" autocomplete="current-password" [class.error]="passwordControlInvalid" [class.valid]="editForm.get('password').touched && !passwordControlInvalid" />
                <div class="hint is-red" *ngIf="passwordControlInvalid">Enter your password.</div>
                <ul id="password-meter">
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasMinLength" [class.password-dismatch]="!passwordHasMinLength">
                        Must be at least 8 characters!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasNumber" [class.password-dismatch]="!passwordHasNumber">
                        Must contain at least 1 number!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasCapitalCase" [class.password-dismatch]="!passwordHasCapitalCase">
                        Must contain at least 1 in Capital Case!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasSmallCase" [class.password-dismatch]="!passwordHasSmallCase">
                        Must contain at least 1 Letter in Small Case!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasSpecialCharacters" [class.password-dismatch]="!passwordHasSpecialCharacters">
                        Must contain at least 1 Special Character!
                    </li>
                </ul>
            </div>

            <div class="tdp-form-box">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" formControlName="passwordConfirm" autocomplete="current-password" [class.error]="passwordConfirmControlInvalid" [class.valid]="editForm.get('passwordConfirm').touched && !passwordConfirmControlInvalid" />
                <div class="hint is-red" *ngIf="passwordConfirmControlInvalid">Password Confirmation must match the original one.
                </div>
            </div>
        </div>
        <div class="tdp-form-row mt-2">
            <button type="submit" [disabled]="invalid" (click)="onSubmit()" class="tdp-button tdp-button-menu full">Submit</button>
        </div>
    </div>
</form>