<div class="tdp-form-container">
    <h2 class="is-purpel mb-0">Tour de Planet.</h2>
    <h2 class="mt-0">Move! Your Donations!</h2>
    <div class="tdp-flex-center-column">
        <button type="button" class="tdp-button tdp-button-menu mt-2" routerLink="/donations/add-donation">New Donation</button>
    </div>
    <app-donation-row *ngFor="let donation of donations" [donation]="donation" [mots]="meansOfTransportation"></app-donation-row>
</div>