$BOAT: 'boat';
$CROSS: 'cross';
$COLLAPSE: 'collapse';
$DELETE: 'delete';
$DONATED_KM: 'donated_km';
$DONATED_MILES: 'donated_miles';
$EDIT: 'edit';
$EMAIL: 'email';
$EVENT_PEACE_SIGN: 'event_peace_sign';
$EXPAND: 'expand';
$FACEBOOK: 'facebook';
$FLAG: 'flag';
$HIKING_BOOT: 'hiking_boot';
$HORSE: 'horse';
$INSTAGRAM: 'instagram';
$LOCATION: 'location';
$MINUS: 'minus';
$MY_EVENTS_PEACE_SIGN: 'my_events_peace_sign';
$MY_EVENTS: 'my_events';
$MY_KM: 'my_km';
$MY_MILES: 'my_miles';
$MY_TOURS: 'my_tours';
$NOMAL_BIKE: 'normal_bike';
$PLUS: 'plus';
$RACE_BIKE: 'race_bike';
$RUNNING_SHOE: 'running_shoe';
$SAVE_AND_EXIT: 'save_and_exit';
$SAVE: 'save';
$SKATEBOARD: 'skateboard';
$TELEGRAM: 'telegram';
$TWITTER: 'twitter';
$YOUTUBE: 'youtube';

.tdp-prefix:before {
  content: '';
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right:0.5em;
}
.tdp_donated_km:before {
  background-image: url('/assets/icons/' + $DONATED_KM + '.svg');
}
.tdp_donated_miles:before {
  background-image: url('/assets/icons/' + $DONATED_MILES + '.svg');
}
.tdp_hiking_boot:before {
  background-image: url('/assets/icons/' + $HIKING_BOOT + '.svg');
}
.tdp_skateboard:before {
  background-image: url('/assets/icons/' + $SKATEBOARD + '.svg');
}
.tdp_running_shoe:before {
  background-image: url('/assets/icons/' + $RUNNING_SHOE + '.svg');
}
.tdp_race_bike:before {
  background-image: url('/assets/icons/' + $RACE_BIKE + '.svg');
}
.tdp_normal_bike:before {
  background-image: url('/assets/icons/' + $NOMAL_BIKE + '.svg');
}
.tdp_horse:before {
  background-image: url('/assets/icons/' + $HORSE + '.svg');
}
.tdp_running_shoe:before {
  background-image: url('/assets/icons/' + $RUNNING_SHOE + '.svg');
}
.tdp_race_bike:before {
  background-image: url('/assets/icons/' + $RACE_BIKE + '.svg');
}
.tdp_boat:before {
  background-image: url('/assets/icons/' + $BOAT + '.svg');
}

button.tdp-icon, i.tdp-icon {
  content: '';
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right:0.5em;
  cursor: pointer;
}

.tdp-icon {
  background-color: $white;
  border: 1px solid;
  border-radius: 50%;
}
.icon-tdp_boat {
  background-image: url('/assets/icons/' + $BOAT + '.svg');
}
.icon-tdp_delete {
  background-image: url('/assets/icons/' + $DELETE + '.svg');
}
.icon-tdp_locaton {
  background-image: url('/assets/icons/' + $LOCATION + '.svg');
}
.icon-tdp_collapse {
  background-image: url('/assets/icons/' + $COLLAPSE + '.svg');
}
.icon-tdp_cross {
  background-image: url('/assets/icons/' + $CROSS + '.svg');
}
.icon-tdp_donated_km {
  background-image: url('/assets/icons/' + $DONATED_KM + '.svg');
}
.icon-tdp_donated_miles {
  background-image: url('/assets/icons/' + $DONATED_MILES + '.svg');
}
.icon-tdp_edit {
  background-image: url('/assets/icons/' + $EDIT + '.svg');
}
.icon-tdp_email{
  background-image: url('/assets/icons/' + $EMAIL + '.svg');
}
.icon-tdp_event_peace_sighn {
  background-image: url('/assets/icons/' + $EVENT_PEACE_SIGN + '.svg');
}
.icon-tdp_expand {
  background-image: url('/assets/icons/' + $EXPAND + '.svg');
}
.icon-tdp_facebook {
  background-image: url('/assets/icons/' + $FACEBOOK + '.svg');
}
.icon-tdp_flag {
  background-image: url('/assets/icons/' + $FLAG + '.svg');
}
.icon-tdp_hiking_boot {
  background-image: url('/assets/icons/' + $HIKING_BOOT + '.svg');
}
.icon-tdp_horse {
  background-image: url('/assets/icons/' + $HORSE + '.svg');
}
.icon-tdp_instagram {
  background-image: url('/assets/icons/' + $INSTAGRAM + '.svg');
}
.icon-tdp_location {
  background-image: url('/assets/icons/' + $LOCATION + '.svg');
}
.icon-tdp_minus {
  background-image: url('/assets/icons/' + $MINUS + '.svg');
}
.icon-tdp_my_events_peace_sign {
  background-image: url('/assets/icons/' + $MY_EVENTS_PEACE_SIGN + '.svg');
}
.icon-tdp_my_events {
  background-image: url('/assets/icons/' + $MY_EVENTS + '.svg');
}
.icon-tdp_my_km {
  background-image: url('/assets/icons/' + $MY_KM + '.svg');
}
.icon-tdp_my_miles {
  background-image: url('/assets/icons/' + $MY_MILES + '.svg');
}
.icon-tdp_my_tours {
  background-image: url('/assets/icons/' + $MY_TOURS + '.svg');
}
.icon-tdp_normal_bike {
  background-image: url('/assets/icons/' + $NOMAL_BIKE + '.svg');
}
.icon-tdp_plus {
  background-image: url('/assets/icons/' + $PLUS + '.svg');
}
.icon-tdp_my_race_bike {
  background-image: url('/assets/icons/' + $RACE_BIKE + '.svg');
}
.icon-tdp_save_and_exit {
  background-image: url('/assets/icons/' + $SAVE_AND_EXIT + '.svg');
}
.icon-tdp_save {
  background-image: url('/assets/icons/' + $SAVE + '.svg');
}
.icon-tdp_my_running_shoe {
  background-image: url('/assets/icons/' + $RUNNING_SHOE + '.svg');
}
.icon-tdp_skateboard {
  background-image: url('/assets/icons/' + $SKATEBOARD + '.svg');
}
.icon-tdp_telegram {
  background-image: url('/assets/icons/' + $TELEGRAM + '.svg');
}
.icon-tdp_twitter {
  background-image: url('/assets/icons/' + $TWITTER + '.svg');
}
.icon-tdp_youtube{
  background-image: url('/assets/icons/' + $YOUTUBE + '.svg');
}
