<form [formGroup]="signInForm" (submit)="onSubmit()">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Welcome to Tour de Planet.</h2>
        <h2 class="mt-0">Already registered? <a routerLink="/auth/login">Login here</a>.</h2>
        <div class="tdp-form-box full mt-2">
            <label for="username">Username</label>
            <input type="text" formControlName="username" autocomplete="username" [class.error]="usernameControlInvalid" [class.valid]="signInForm.get('username').touched && !usernameControlInvalid" />
            <div class="hint is-red" *ngIf="usernameControlInvalid">You should enter a username</div>
        </div>
        <div class="tdp-form-box mt-1">
            <label for="mail">Email Address</label>
            <input type="email" formControlName="mail" autocomplete="email" [class.error]="mailControlInvalid" [class.valid]="signInForm.get('mail').touched && !mailControlInvalid" />
            <div class="hint is-red" *ngIf="mailControlInvalid">Enter a valid Email</div>
        </div>
        <div class="mt-1 mb-1 tdp-form-row">
            <div class="tdp-form-box half">
                <label for="password">Password</label>
                <input type="password" formControlName="password" autocomplete="current-password" [class.error]="passwordControlInvalid" [class.valid]="signInForm.get('password').touched && !passwordControlInvalid" />
                <div class="hint is-red" *ngIf="passwordControlInvalid">Enter your password.</div>
                <ul id="password-meter">
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasMinLength" [class.password-dismatch]="!passwordHasMinLength">
                        Must be at least 8 characters!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasNumber" [class.password-dismatch]="!passwordHasNumber">
                        Must contain at least 1 number!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasCapitalCase" [class.password-dismatch]="!passwordHasCapitalCase">
                        Must contain at least 1 in Capital Case!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasSmallCase" [class.password-dismatch]="!passwordHasSmallCase">
                        Must contain at least 1 Letter in Small Case!
                    </li>
                    <li *ngIf="passwordControl.dirty" [class.password-match]="passwordHasSpecialCharacters" [class.password-dismatch]="!passwordHasSpecialCharacters">
                        Must contain at least 1 Special Character!
                    </li>
                </ul>
            </div>

            <div class="tdp-form-box half">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" formControlName="passwordConfirm" autocomplete="current-password" [class.error]="passwordConfirmControlInvalid" [class.valid]="signInForm.get('passwordConfirm').touched && !passwordConfirmControlInvalid" />
                <div class="hint is-red" *ngIf="passwordConfirmControlInvalid">Password Confirmation must match the original one.
                </div>
            </div>
        </div>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="newsletterAccepted" />
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                Yes, i would also like to get the Tour de planet newsletter
            </div>
        </div>
        <div class="tdp-form-box full">
            <label class="checkbox">
        <input type="checkbox" formControlName="termsAccepted" />
        <span class="tdp-checkbox"></span>
      </label>
            <div class="input-title">
                Yes i red the terms&conditions and the data policy.
            </div>
            <div class="hint is-red" *ngIf="termsAcceptedControlInvalid">You must accept the terms & conditions, to join.</div>
        </div>

        <div class="tdp-form-box mt-2">
            <button type="submit" [disabled]="invalid" class="tdp-button tdp-button-menu full">Submit</button>
        </div>
    </div>
</form>