.navigation-icon {
  height: 1.4705882352941178rem;
  width: 2.0588235294117645rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .navigation-icon-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 0.23529411764705882rem;
  }
}
