<div
  class="alert fade alert-simple alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
  [class.alert-success]="message.type === 'success'"
  [class.alert-info]="message.type === 'info'"
  [class.alert-warning]="message.type === 'warning'"
  [class.alert-danger]="message.type === 'error'"
  [class.alert-primary]="message.type === 'primary'"
  *ngIf="message">
  <button type="button">
          <span aria-hidden="true">
            <a (click)="onClose()" routerLinkActive="router-link-active">
              <i class="tdp-icon icon-tdp_cross"></i>
            </a></span>
        </button>
  <strong *ngIf="message.title">{{ message.title}}!</strong>&nbsp; {{ message.text}}.
</div>
