<div class="content-container">
    <ul class="navigation-list">
        <li *ngIf="isUser">
            <a routerLink="/account/profile" aria-label="Change your Account settings">
        User Account
      </a>
        </li>
        <li *ngIf="isUser">
            <a aria-label="Change your tour profile preferences" routerLink="/account/tour-profile">
        Tour Profile
      </a>
        </li>
        <li *ngIf="isUser">
            <a aria-label="Change your password" routerLink="/account/change-password">
        Change Password
      </a>
        </li>
        <li *ngIf="isUser">
            <a aria-label="Change your password" routerLink="/auth/logout">
        Logout
      </a>
        </li>
        <li *ngIf="!isUser">
            <a routerLink="/auth/login" aria-label="Login into tour management">
        Login
      </a>
        </li>
        <li *ngIf="!isUser">
            <a routerLink="/auth/register" aria-label="Login into tour management">
        Register
      </a>
        </li>
    </ul>
</div>