@import url('https://fonts.googleapis.com/css2?family=Jost&family=Rubik:ital,wght@1,300&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './styles/variables';
@import './styles/normalize';
@import './styles/typography';
@import './styles/forms';
@import './styles/general';
@import './styles/icons';
app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}