<div class="tdp-form-container" *ngIf="!(userToken$ | async)">
    <h2 class="is-purpel mb-0">Tour de Planet.</h2>
    <h2 class="mt-0">Welcome!</h2>
    <p *ngIf="!(userToken$ | async)">
        Please <a routerLink="/auth/register">sign up</a> for an account or <a routerLink="/auth/login">login</a> first.
    </p>
</div>
<div class="tdp-container bg-is-medium-blue" *ngIf="(userToken$ | async)">
    <app-total-donations></app-total-donations>
    <app-recently-added-donations></app-recently-added-donations>
    <div class="tdp-flex-center-column mb-5">
        <button class="tdp-button tdp-button-menu mt-2" routerLink="/donations/add-donation">New Donation</button>
        <button class="tdp-button tdp-button-menu mt-2" disabled title="Comming soon">Tours <span>comming soon!</span></button>
        <button class="tdp-button tdp-button-menu mt-2" disabled title="Comming soon">Tour Events <span>comming soon!</span></button>
    </div>
</div>